form {
    display: flex;
    margin: auto;
    flex-direction: column;
    min-width: 40%;
    max-width: 50%;
    border: solid 1px var(--accent);
    padding: 10px;
}

form input, form textarea, form button {
    margin: 10px auto;
}

form label {
    margin-left: 5%;
}

textarea {
    resize: none;
    width:90%;
}

input {
    width: 90%;
}

button {
    width: 90%;
}

#error-message {
    color: red;
}