/* Parent container holds 3 individual flexboxes (one for each topic) */
#main-content {
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
    border-top-style: solid;
    border-width: 7px;
    border-color: var(--accent);
    background-color: var(--background);
}

/* Each section of the main content based on subtitle */
.topic {
    display: flex;
    flex: 1 1 auto;
}

/* Subtitles */
.topic h2 {
    flex-basis: 30vw;
    font-size: 1.5em;
    padding: 4vw;
    margin: 15px 0px;
    border-right: 3px solid var(--accent);
    text-align: right;
}

/* Content associated to each subtitle */
.topic aside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 65vw;
    font-size: 1em;
    padding: 1em;
}

.topic p,
.topic a {
    /* Standardize the font-size of links and paragraph text */
    font-size: 2em; 
}

.card {
    flex: 1 1 0;
    border: 4px solid var(--primary);
    height: 25em;
    /* Cards stay large enough to become paired in a 2 column layout */
    min-width: 40%; 
    margin: 10px;
    position: relative;
    background-size: cover;
    background-position: top left;
}

/* Add a highlight when user hovers 'card' */
.card:hover {
    box-shadow: 0px 0px 50px 50px var(--primary) inset;
}

/* Temporary styling for project 'cards' that have yet to be filled */
.card.coming-soon {
    box-shadow: 0px 0px 500px 50px var(--unavailable) inset;
}

/* Place a title for each project inside the project 'cards' */
.project-title {
    background-color: var(--accent);
    border-width: 4px;
    border-style: solid;
    border-color: var(--primary);
    border-left-color: var(--accent);
    width: fit-content;
    font-size: 1.5em;
    padding: 10px;
    position: absolute;
    left: -.15em;
    bottom: 4em;
}

.featured-project {
    flex: 1 1 100%;
}

#Horiseon {
   background-image: url(../assets/images/Horiseon.PNG);
}

#The-Weather-DJ {
    background-image: url(../assets/images/TheWeatherDJ.jpg);
    background-position: left;
    background-size: 100% 100%;
}

#Revved-Up-Reviews {
    background-image: url(../assets/images/RevvedUpReviews.png);
    background-position: left;
}

#Weather-Dashboard {
    background-image: url(../assets/images/Weather.png);
    background-position: left;
}

#Code-Quiz {    
    background-image: url(../assets/images/Quiz.png);
    background-position: left;
}

.card .icon {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--primary);
}

.card .icon:hover {
    color: var(--accent);
}

/* Enlarges the empty span tags to fill the project 'cards' 
   creating a link (to the showcased project) that matches the size of the card 
   so the user can click anywhere in the card to see the linked project */
.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#contact-me aside {
    align-items: center;
}

#contact-me aside>* {
    margin: 4px;
}